/*scaling*/


html,
body {
  margin: auto;
  padding: 0;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}


/*header*/

.header {
    background-image: -webkit-linear-gradient(#FFD194, #BC1324);
    height: 3rem;

}

ul {
    margin: 0 auto;
     position: fixed;
}

li {
     list-style: none;
     font-size: 1.1rem;
     float: left;
     margin: 16px;
}

a{
    text-decoration-line: none;
     color: #42f4e2;
}

/*hline*/
.hline{
    background-image: url(1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 50rem;
    position: relative;
    text-align: center;
}

h1, h2{
    margin: 0 auto;
    color: #fff;
}

.hline img{
    height: 60px;
    width: 50px;
    margin-top:2.5rem;
    position: relative;
}

/*responsive codes*/

@media only screen and (max-width:480px) {
  body{
    font-size:1rem;
  }}


/*header*/
@media only screen and (min-width:480px) and (max-width:1024px), (orientation:portrait){
 .header
  {
    height: 6rem;
  }
  li{
    display: inline-block;
    position: relative;
    align-content: center;
  }
}

@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation:landscape){
 .header
  {
    left: -6rem;
  }
  li{
    display: inline-block;
    position: relative;
    align-content: center;
  }
}


 /*hline*/
@media only screen and (min-width:480px) and (max-width:1024px), (orientation:portrait){
 .hline
  {
    font-size:20px;
    text-align: center;
  }
  img{
    display: inline-block;
    position: relative;
    align-content: center;
  }
}

@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation:landscape){
 .hline
  {
    font-size:20px;
    text-align: center;
  }
  img{
    display: inline-block;
    position: relative;
  }
}


