html,body{
  margin: 0;
}

h1,h2,h3,h4,h5,h6,p{

}


.navbar img{
    height: 40px;
    width: 40px;
}

.navbar{
  background-image: -webkit-linear-gradient(#0f58ad, #0f3bad, #0f9dad);
}

.navbar .navbar-nav{
  color: #0f9dad;
}

.jumbotron{
  background-image: url(img/1.jpg);
  height: 50.2rem;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin:0 auto;
}

.jumbotron h1,h3{
  color: #fff;
  top: 10rem;
  position: relative;
  line-height: 3rem;
  letter-spacing: 5px;
}

.line {
  position: relative;
  margin-bottom: 4rem;
  background-image: -webkit-linear-gradient(#0f58ad, #0f3bad, #0f9dad);
  margin: 0 auto;
}

.line h1{
  color: #000;
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer {
  background-image: -webkit-linear-gradient(#0812d8, #0857d8,#08a0d8);
  height: 100%;
  padding-top: 0.5rem;

}

.fa-facebook-official{
  color: #150ed1;
}

.fa-twitter-square {
  color: #09d4d8;
}

.fa-youtube-square {
  color: #d80a0a;
}